In [329]:
from helpers import *

[nltk_data] Downloading package stopwords to /home/julian/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/julian/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [332]:
# Importing movie and character metadata (3min34s)
data_folder = './Data/'
character_metadata = pd.read_csv(data_folder+'characters_data.csv')
movie_metadata = pd.read_csv(data_folder+'movie_data.csv')
elligible_movies = select_elligible_movies_for_main_char_analysis(movie_metadata,character_metadata)
#print(len(movie_metadata))
#print(len(elligible_movies))
#elligible_movies.to_csv("movies_for_main_char_analysis")

/tmp/ipykernel_17532/1534095471.py:3: DtypeWarning: Columns (1,3,6,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  character_metadata = pd.read_csv(data_folder+'characters_data.csv')

53542
17259

In [351]:
#df = pd.read_csv("movies_for_main_char_analysis")#elligible_movies[:17]#.sample(n=20)
df = elligible_movies

def random_movies_per_year(group):
    return group.sample(n=min(20, len(group)), random_state=10)

sample = df.groupby('release_date', group_keys=False).apply(random_movies_per_year)

# Sort the resulting dataframe by the "release_date" column
sample = sample.sort_values('release_date')

In [326]:
sample['main characters'] = sample['plot_summary'].apply(extract_main_characters, nb_sentences=5)
sample['main character genders'] = sample.apply(find_main_characters_genders, characters_df = character_metadata, axis=1)

/tmp/ipykernel_17532/3334153791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['main characters'] = df['plot_summary'].apply(extract_main_characters, nb_sentences=5)
/tmp/ipykernel_17532/3334153791.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['main character genders'] = df.apply(find_main_characters_genders, characters_df=character_metadata, axis=1)

,wikipedia_ID,freebase_ID,name,release_date,box_office_revenue,runtime,genre,plot_summary,IMDB_ID,main characters,main character genders
6,77856.0,/m/0kcn7,mary poppins,1964,102272727.0,139.0,"[""Children's/Family"", 'Musical', 'Fantasy', 'C...",The film opens with Mary Poppins perched in a...,NaN,"[edward, mary poppins, george banks]","[F, M]"
22,12053509.0,/m/02vn81r,loverboy,1989,3960327.0,98.0,"['Romantic comedy', 'Romance Film', 'Comedy']","Randy Bodek is a rebellious college slacker, ...",NaN,"[randy, jenny, alex barnett]","[M, F, F]"
37,2154704.0,/m/06qv1c,choke canyon,1986,NaN,94.0,"['Thriller', 'Action Thrillers', 'Science Fict...",Dr. David Lowell's research is carried out in...,NaN,"[david lowell, halley]",[M]
39,33059372.0,/m/0h54gth,chromeskull: laid to rest 2,2011,NaN,93.0,"['Horror', 'Slasher']",ChromeSkull: Laid to Rest 2 picks up three mon...,NaN,"[tommy, preston, jess]","[M, M, F]"
50,7460227.0,/m/0kv80y,the bridge,2006,NaN,69.0,['Drama'],Sea Org officer Ronnie Miscavige describes the...,NaN,"[diane, robert solomon, ronnie miscavige]",[]
75,3249964.0,/m/0917bx,house by the river,1950,NaN,85.0,"['Crime Fiction', 'Horror', 'Drama', 'Film noir']","A rich novelist, Stephen Byrne, who lives and ...",NaN,[stephen byrne],[M]
102,17379289.0,/m/043qtrq,without warning,1980,NaN,89.0,"['Science Fiction', 'Horror']",A father and son go hunting in the mountains. ...,NaN,"[tom, beth, greg]","[M, F, M]"
104,13919299.0,/m/03cn6hr,the devil’s gift,1984,NaN,90.0,"['Thriller', 'Horror']","An elderly woman, Elmira Johnson, uses a Ouija...",NaN,"[david andrews, elmira johnson, michael]","[M, F, M]"
109,3681139.0,/m/09v460,necessary roughness,1991,26255594.0,108.0,"['Sports', 'Comedy']",The Texas State University Fightin' Armadillos...,NaN,"[charlie banks, ed straight arrow gennero, dea...","[M, M, M]"
117,2608958.0,/m/07rf_1,nothing to lose,1997,44480039.0,97.0,"['Crime Fiction', 'Action/Adventure', 'Action'...",Advertising executive Nick Beam thinks his li...,NaN,"[nick, tpaul, philip barlow]","[M, M, M]"
133,21236198.0,/m/05c4c72,thief of damascus,1952,NaN,78.0,"['Romance Film', 'Fantasy', 'Adventure']",634 A.D.:Though General Amdar is able to win t...,NaN,"[amdar, khalid ibn alwalid, sinbad]","[M, M, M]"
136,207680.0,/m/01dh6f,nell,1994,106683817.0,112.0,['Drama'],When stroke victim Violet Kellty dies in her h...,NaN,"[lovell, jerry, violet kellty]","[M, M, F]"
156,6004372.0,/m/0fk60h,grace of my heart,1996,617632.0,116.0,"['Film à clef', 'Period piece', 'Musical', 'Dr...",Edna Buxton is a steel heiress from Chestnut ...,NaN,"[edna, doris shelley, joel milner]","[F, F, M]"
162,1924820.0,/m/066j_j,the seinfeld chronicles,1989,NaN,23.0,"['Short Film', 'Comedy']",The series opens with Jerry Seinfeld and Georg...,NaN,"[george, claire, jerry seinfeld]","[M, M]"
165,22557257.0,/m/05zkfk2,the moment after 2: the awakening,2006,NaN,90.0,"['Thriller', 'Science Fiction', 'Drama']","After escaping death, former FBI agent Adam Ri...",NaN,"[adam riley, jacob krause, fredericks]","[M, M, M]"
169,856733.0,/m/03hq88,a shot in the dark,1964,NaN,103.0,"['Parody', 'Family Film', 'Comedy', 'Slapstick']",Inspector Clouseau is called to the country h...,NaN,"[clouseau, maria gambrelli, benjamin ballon]","[M, F, M]"
175,11696799.0,/m/04j2ftt,breaking the surface: the greg louganis story,1997,NaN,95.0,"['Sports', 'Biographical film', 'Drama']","In Seoul, 1988, Greg Louganis hits the diving...",NaN,"[greg, tom, greg louganis]","[M, M, M]"